<section class="code-this">
    <div class="code-this__title">Code this block</div>
    <div class="code-this__image-and-text">
        <img src="img/code_this/code_this_img.png" alt="code_this_img" class="code-this__image">
        <div class="code-this__text">This text should be changeable. Lorem ipsum text here. Offers great opportunities to everyone looking
            to meet locals, find romantic dates and make new friends. Our dating site gives you hours of dating fun,
            together with seemingly endless possibilities to meet new single people from your area, make friends,
            go on a date and enjoy good company. With thousands of local personals, will make your life a whole lot busier
            with all that dating. This is a great place to find true friends or devoted partners for long-term relationships
            or marriage. We
        </div>
    </div>
</section>