<article class="how-to-succeed">
    <section class="how-to-succeed__wrapper">
        <div class="how-to-succeed__title">How to succeed in online dating</div>
        <p class="how-to-succeed__paragraph">There is no secret to being successful in online dating - you just need to be yourself.
            Be active, comment on other members' profiles, send them mails, chat with them and rate their profiles. We provide a wide
            range of features allowing you to gather as many contacts as you can handle. It is better to rotate photographs of yourself
            regularly, update the details on your profile frequently, use the instant communicator facility, and log onto the site as
            much as possible, as well as at different times, to meet as many members as you can. It is most important to be honest,
            positive and patient in all your site activities.<span class="how-to-succeed__paragraph_orange">In the "My Account"
                area visit the section for photos entitled "My Photos" and select the option "Click to upload photos". You will
                then prompted to upload a photo from your computer. Your 'Primary' photo is visible to everyone and should be a
                'normal' photo. 'For friends only' photos are visible only to those on your friends list.Your 'Primary' photo is
                visible to everyone and should be a 'normal' photo. 'For friends only' photos are visible only to those on your
                friends list.</span><span class="how-to-succeed__paragraph_text">You can also upload photos
            to your dating profile from your Facebook account.</span>
            <span class="how-to-succeed__paragraph_number">1.</span>  Access your dating life even when you’re not browsing
            <a href="#">Cupid.com</a>!<br>
            <span class="how-to-succeed__paragraph_number">2.</span>  Search for new matches from your browser easily<br>
            <span class="how-to-succeed__paragraph_number">3.</span>  Read and write messages & chat with members live;
            receive Datecasts, winks and alerts when your are online or have updated their profile info<br>
            <span class="how-to-succeed__paragraph_number">4.</span>  Read and write messages & chat with members live;
            receive Datecasts, winks and alerts when your friends<br>
            <span class="how-to-succeed__quote"><span class="how-to-succeed__quote-quotes">&#10077</span>
                <span class="how-to-succeed__quote-text">In the "My Account" area visit the section for photos entitled
                    "My Photos" and select the
                    option "Click to upload photos". You will then be prompted to upload a photo from your computer. Your 'Primary'
                    photo is visible to everyone and should be a 'normal' photo. 'For friends only' photos are visible only to those
                    on your friends list.</span>
                <span class="how-to-succeed__quote-quotes how-to-succeed__quote-quotes_close">&#10078</span></span>
            <a class="how-to-succeed__paragraph_more"><span class="how-to-succeed__paragraph_more-arrow">&#9658</span> Click here to view more</a>
        </p>
        <p class="how-to-succeed__subparagraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
            of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum. Contrary to popular belief, Lorem Ipsum is not simply random text.
            It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock,
            a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur,
            from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable
            source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of
            Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during
            the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and
            1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied
            by English versions from the 1914 translation by H. Rackham.</p>
    </section>
</article>