<div class="slider">
    <div class="slider__slides slider__slides_transition">
        <img src="img/slides/slide_1.jpg" alt="slide_1">
        <img src="img/slides/slide_2.jpg" alt="slide_2">
        <img src="img/slides/slide_3.jpg" alt="slide_3">
        <img src="img/slides/slide_4.jpg" alt="slide_4">
        <img src="img/slides/slide_1.jpg" alt="slide_1">
    </div>
    <div class="slider__controls">
        <div class="slider__button slider__button_active"></div>
        <div class="slider__button"></div>
        <div class="slider__button"></div>
        <div class="slider__button"></div>
    </div>
</div>