<section class="user-list">
    <div class="user-list__title">Users List</div>
    <div class="user-list__slider">
        <div class="user-list__slider-scope">
            <div class="user-list__slider-users">
                <div class="user-list__slider-users-slide">
                    <img src="img/user-list/user.png" alt="user" class="user-list__slider-users-slide-user">
                    <div class="user-list__slider-users-slide-mask">
                        <p class="user-list__slider-users-slide-mask-text">Sexy Girl</p>
                        <div class="user-list__slider-users-slide-mask-images">
                            <a href="#">
                                <img src="img/user-list/smile_to_user.png" alt="smile_to_user" class="user-list__slider-users-slide-mask-smile">
                            </a>
                            <a href="#">
                                <img src="img/user-list/add_user.png" alt="add_user" class="user-list__slider-users-slide-mask-add">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="user-list__slider-users-slide">
                    <img src="img/user-list/user.png" alt="user" class="user-list__slider-users-slide-user">
                    <div class="user-list__slider-users-slide-mask">
                        <p class="user-list__slider-users-slide-mask-text">Sexy Girl</p>
                        <div class="user-list__slider-users-slide-mask-images">
                            <a href="#">
                                <img src="img/user-list/smile_to_user.png" alt="smile_to_user" class="user-list__slider-users-slide-mask-smile">
                            </a>
                            <a href="#">
                                <img src="img/user-list/add_user.png" alt="add_user" class="user-list__slider-users-slide-mask-add">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="user-list__slider-users-slide">
                    <img src="img/user-list/user.png" alt="user" class="user-list__slider-users-slide-user">
                    <div class="user-list__slider-users-slide-mask">
                        <p class="user-list__slider-users-slide-mask-text">Sexy Girl</p>
                        <div class="user-list__slider-users-slide-mask-images">
                            <a href="#">
                                <img src="img/user-list/smile_to_user.png" alt="smile_to_user" class="user-list__slider-users-slide-mask-smile">
                            </a>
                            <a href="#">
                                <img src="img/user-list/add_user.png" alt="add_user" class="user-list__slider-users-slide-mask-add">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="user-list__slider-users-slide">
                    <img src="img/user-list/user.png" alt="user" class="user-list__slider-users-slide-user">
                    <div class="user-list__slider-users-slide-mask">
                        <p class="user-list__slider-users-slide-mask-text">Sexy Girl</p>
                        <div class="user-list__slider-users-slide-mask-images">
                            <a href="#">
                                <img src="img/user-list/smile_to_user.png" alt="smile_to_user" class="user-list__slider-users-slide-mask-smile">
                            </a>
                            <a href="#">
                                <img src="img/user-list/add_user.png" alt="add_user" class="user-list__slider-users-slide-mask-add">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="user-list__slider-users-slide">
                    <img src="img/user-list/user.png" alt="user" class="user-list__slider-users-slide-user">
                    <div class="user-list__slider-users-slide-mask">
                        <p class="user-list__slider-users-slide-mask-text">Sexy Girl</p>
                        <div class="user-list__slider-users-slide-mask-images">
                            <a href="#">
                                <img src="img/user-list/smile_to_user.png" alt="smile_to_user" class="user-list__slider-users-slide-mask-smile">
                            </a>
                            <a href="#">
                                <img src="img/user-list/add_user.png" alt="add_user" class="user-list__slider-users-slide-mask-add">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="user-list__slider-users-slide">
                    <img src="img/user-list/user.png" alt="user" class="user-list__slider-users-slide-user">
                    <div class="user-list__slider-users-slide-mask">
                        <p class="user-list__slider-users-slide-mask-text">Sexy Girl</p>
                        <div class="user-list__slider-users-slide-mask-images">
                            <a href="#">
                                <img src="img/user-list/smile_to_user.png" alt="smile_to_user" class="user-list__slider-users-slide-mask-smile">
                            </a>
                            <a href="#">
                                <img src="img/user-list/add_user.png" alt="add_user" class="user-list__slider-users-slide-mask-add">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="user-list__slider-users-slide">
                    <img src="img/user-list/user.png" alt="user" class="user-list__slider-users-slide-user">
                    <div class="user-list__slider-users-slide-mask">
                        <p class="user-list__slider-users-slide-mask-text">Sexy Girl</p>
                        <div class="user-list__slider-users-slide-mask-images">
                            <a href="#">
                                <img src="img/user-list/smile_to_user.png" alt="smile_to_user" class="user-list__slider-users-slide-mask-smile">
                            </a>
                            <a href="#">
                                <img src="img/user-list/add_user.png" alt="add_user" class="user-list__slider-users-slide-mask-add">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="img/user-list/left.png" alt="left" class="user-list__slider-left">
        <img src="img/user-list/right.png" alt="right" class="user-list__slider-right">
    </div>
    <div class="user-list__progress">
        <div class="user-list__progress-users">
            <div class="user-list__progress-mask" id="users-mask">Users List</div>
            <div class="user-list__progress-body">
                <img src="img/user-list/user_foto.jpg" alt="user_foto" class="user-list__progress-body-image">
                <div class="user-list__progress-body-text">
                    This text should be changeable. Lorem ipsum text here. Offers great opportunities to everyone looking
                    to meet locals, find romantic dates and make new friends. Our dating site gives you hours of dating fun.
                </div>
            </div>
        </div>
        <div class="user-list__progress-active">
            <div class="user-list__progress-mask user-list__progress-mask-active" id="active-mask">Active list tab<span> | 38</span></div>
            <div class="user-list__progress-body user-list__progress-body_active">
                <div class="user-list__progress-body-line">
                    <progress class="user-list__progress-body-line-bar" min="0" max="100" value="20"></progress>
                    <span class="user-list__progress-body-line-span">20%</span>
                    <div class="user-list__progress-body-line-breadcrumbs">
                        <ul class="user-list__progress-body-line-breadcrumbs-list">
                            <li class="user-list__progress-body-line-breadcrumbs-item"><a href="#" class="user-list__progress-body-line-breadcrumbs-link user-list__progress-body-line-breadcrumbs_choose">Step 1</a></li>
                            <li class="user-list__progress-body-line-breadcrumbs-item"><a href="#" class="user-list__progress-body-line-breadcrumbs-link">Step 2</a></li>
                            <li class="user-list__progress-body-line-breadcrumbs-item"><a href="#" class="user-list__progress-body-line-breadcrumbs-link">Step 3</a></li>
                            <li class="user-list__progress-body-line-breadcrumbs-item"><a href="#" class="user-list__progress-body-line-breadcrumbs-link">Step 4</a></li>
                            <li class="user-list__progress-body-line-breadcrumbs-item"><a href="#" class="user-list__progress-body-line-breadcrumbs-link">Step 5</a></li>
                        </ul>
                    </div>
                    <input type="range" min="0" max="100" step="1" value="20" class="user-list__progress-body-line-input">
                </div>
                <div class="user-list__progress-body-round">
                    <div class="user-list__progress-body-round-progressbar">
                        <div class="user-list__progress-body-round-progressbar-chart">
                            <div id="round-progressbar-section1" class="user-list__progress-body-round-progressbar-clip">
                                <div class="user-list__progress-body-round-progressbar-item"></div>
                            </div>
                            <div id="round-progressbar-section2" class="user-list__progress-body-round-progressbar-clip">
                                <div class="user-list__progress-body-round-progressbar-item"></div>
                            </div>
                            <div id="round-progressbar-section3" class="user-list__progress-body-round-progressbar-clip">
                                <div class="user-list__progress-body-round-progressbar-item"></div>
                            </div>
                            <div class="user-list__progress-body-round-progressbar-center">
                                <span class="user-list__progress-body-round-progressbar-span"></span>
                            </div>
                        </div>
                    </div>
                    <div class="user-list__progress-body-round-starbar">
                        <div class="user-list__progress-body-round-starbar-star user-list__progress-body-round-starbar-star_choose"></div>
                        <div class="user-list__progress-body-round-starbar-star"></div>
                        <div class="user-list__progress-body-round-starbar-star"></div>
                        <div class="user-list__progress-body-round-starbar-star"></div>
                        <div class="user-list__progress-body-round-starbar-star"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>